
[client]
port		= 3306
socket		= /tmp/mysql.sock
#default-character-set = utf8

[mysqld]
##########03/May/2013
slave-net-timeout=6
##########04/Apr/2013
slave-skip-errors=1062,1032,1053
##########28/Dec/2012
tmpdir = /u02/mysqldata
##########06/Dec/2012
innodb_log_group_home_dir = /u02/mysqldata
innodb_data_home_dir =
innodb_data_file_path = /u02/mysqldata/ibdata1:10M:autoextend
innodb_autoextend_increment = 200
log_bin_trust_function_creators = 1
federated
innodb_buffer_pool_size = 1500M
###########Replication
#binlog-do-db=[db_name]
#replicate-do-db=[db_name]
#replicate-ignore-table=[db_name].adm_sequence
#server-id=1
#auto_increment_offset=1
master_retry_count=0
log-bin=master-bin
log-bin-index=master-log-bin
relay-log=slave-relay
relay-log-info-file=slave-relay-log
relay-log-index=slave-relay-log
log-slave-updates
sync_binlog=1
auto_increment_increment=2
###########Semi-Sync
#rpl_semi_sync_master_enabled=1
#rpl_semi_sync_master_timeout=5000
#rpl_semi_sync_slave_enabled=1
###########Others
#sql_mode = 'ERROR_FOR_DIVISION_BY_ZERO,NO_BACKSLASH_ESCAPES,NO_ENGINE_SUBSTITUTION,NO_UNSIGNED_SUBTRACTION,PIPES_AS_CONCAT'
sql_mode = 'ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION,NO_UNSIGNED_SUBTRACTION,PIPES_AS_CONCAT'
max_sp_recursion_depth = 50
basedir = /u01/app/mysql
datadir = /u01/app/mysql/data
port		= 3306
socket		= /tmp/mysql.sock
#init_connect='SET collation_connection=utf8_bin' 
#default-character-set = utf8
character-set-server = utf8
collation-server = utf8_bin
key_buffer_size = 256M
max_allowed_packet = 32M
table_open_cache = 5K
tmp_table_size = 256M
max_heap_table_size = 256M
sort_buffer_size = 1M
read_buffer_size = 2M
read_rnd_buffer_size = 4M
#myisam_sort_buffer_size = 64M
thread_cache_size = 8
query_cache_size = 256M
query_cache_limit   = 2M
long_query_time    = 10
slow_query_log = ON
max_binlog_size         = 50M
max_connections     = 665
# Try number of CPU's*2 for thread_concurrency
thread_concurrency = 8
binlog_format=mixed
lower_case_table_names=1
default-storage-engine=innodb
event_scheduler=ON
#autocommit=0
#ndbcluster
#ndb-connectstring=[node1],[node2] # location of management server



[mysqldump]
quick
max_allowed_packet = 32M

[mysql]
no-auto-rehash

[mysqlhotcopy]
interactive-timeout

#[mysql_cluster]
# for ndbd
#ndb-connectstring=[node1],[node2] # location of management server
